/**
 * @file The app entry style
 * @author 'HaoRen'<'1811058347@qq.com'>
 */

@import './common/css/common';

.page-img {
    margin: 0 auto;
    -quick-margin: 0 44%;
    display: block;
    width: 50px;
    height: 50px;
}

.page-footer {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    -quick-justify-content: center;
    -quick-align-items: center;
}
